<div
  class="container"
  *ngIf="data"
  (click)="cardClick()"
  [ngClass]="{ active: isActive == true && isActive }"
>
  <h1>{{ data.StationName.Zh_tw }}</h1>
  <div class="tick">
    <img src="assets/images/Subtract.png" alt="sub" />
    <p>{{ data.StationAddress.Zh_tw }}</p>
  </div>
  <div class="bikestate">
    <div
      class="type"
      [ngClass]="{
        ban: status('ServiceStatus', data.ServiceStatus) == '暫停營運',
        stop: status('ServiceStatus', data.ServiceStatus) == '停止營運'
      }"
    >
      {{ status("ServiceStatus", data.ServiceStatus) }}
    </div>
    <div
      class="type"
      [ngClass]="{
        ban:
          status(
            'AvailableBikes',
            data.AvailableRentBikes,
            data.AvailableReturnBikes
          ) == '已無單車',
        warn:
          status(
            'AvailableBikes',
            data.AvailableRentBikes,
            data.AvailableReturnBikes
          ) == '車位已滿'
      }"
    >
      {{
        status(
          "AvailableBikes",
          data.AvailableRentBikes,
          data.AvailableReturnBikes
        )
      }}
    </div>
  </div>
</div>
