.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: #f6f6f6;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5%;
  transition: 0.2s;
  flex: 1;

  &.active {
    background-color: #f0f9fc;
  }
  h1 {
    font-size: 20px;
    margin: 0;
    line-height: 125%;
  }
  .tick {
    box-sizing: border-box;
    display: flex;
    margin: 5% 0;
    img {
      max-width: 16px;
      max-height: 20px;
    }
    p {
      font-size: 14px;
      margin: 0;
      margin-left: 5%;
    }
  }
  .bikestate {
    display: flex;
    .type {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 4px;
      background: #f0f9fc;
      border: 2px solid #0a4259;
      box-sizing: border-box;
      border-radius: 4px;
      color: #12749d;
      max-height: 32px;
      font-weight: 600;
      margin-right: 5%;

      &.ban {
        background: #f4dcdc;
        border: 2px solid #cc1010;
        color: #cc1010;
      }

      &.warn {
        background: #f5e6d0;
        border: 2px solid #eb8f05;
        color: #eb8f05;
      }

      &.stop {
        background: #e5e5e5;
        border: 2px solid #7b7b7b;
        color: #7b7b7b;
      }
    }
  }
}
