.container {
  width: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  border-radius: 8px;
  padding: 1rem 0.75rem;
  position: relative;
  margin-bottom: 5%;
  cursor: pointer;
  transition: 0.2s;

  &.active {
    background-color: #f0f9fc;
  }
  h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }
  .cardlist {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    & .tick:nth-child(1) {
      width: 100%;
    }
    .tick {
      display: flex;
      align-items: center;
      margin: 0.5rem;
      width: 40%;
      box-sizing: border-box;
      img {
        max-width: 20px;
        max-height: 20px;
      }
      p {
        margin: 0;
        margin-left: 0.3rem;
      }
    }
  }

  p {
    margin: 0;
    color: #0e5978;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.3rem 0;
    span {
      margin-left: 1%;
      color: #484848;
      font-weight: 500;
    }
  }

  .more {
    display: inline-block;
    width: 15px;
    height: 24px;
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 5;
    cursor: pointer;
  }
}
