<div class="container" *ngIf="data != undefined && type">
  <img
    *ngIf="!data.Picture.PictureUrl1"
    src="assets/images/no_picture.png"
    alt="nopic"
  />
  <img
    *ngIf="data.Picture.PictureUrl1"
    [src]="data.Picture.PictureUrl1"
    alt="pic"
  />
  <div class="text">
    <h1>{{ data.RestaurantName || data.ScenicSpotName }}</h1>
    <div class="type">{{ type == "food" ? "美食" : "景點" }}</div>
    <div class="tick" *ngIf="data.Address">
      <img src="assets/images/Subtract.png" alt="sub" />
      <p>{{ data.Address }}</p>
    </div>
    <div class="tick" *ngIf="data.Phone">
      <img src="assets/images/phone.png" alt="phone" />
      <p>{{ data.Phone }}</p>
    </div>
    <div class="tick" *ngIf="data.OpenTime">
      <img src="assets/images/time.png" alt="time" />
      <p>
        {{ data.OpenTime }}
      </p>
    </div>
    <div class="tick" *ngIf="data.WebsiteUrl">
      <img src="assets/images/link.png" alt="link" />
      <p>
        {{ data.WebsiteUrl }}
      </p>
    </div>
    <div class="tick" *ngIf="data.TicketInfo">
      <img src="assets/images/ticket.png" alt="ticket" />
      <p>
        {{ data.TicketInfo }}
      </p>
    </div>
    <div class="tick" *ngIf="data.Remarks">
      <img src="assets/images/warn.png" alt="remark" />
      <p>
        {{ data.Remarks }}
      </p>
    </div>
  </div>
</div>
