<div class="container">
  <img src="assets/images/logo.png" alt="logo" (click)="backToHome()" />
  <div class="links">
    <button
      [routerLink]="['/search/bike']"
      routerLinkActive="router-link-active"
      (click)="setCityName('bike')"
    >
      尋找單車
    </button>
    <button
      [routerLink]="['/search/route']"
      routerLinkActive="router-link-active"
      (click)="setCityName('route')"
    >
      尋找車道
    </button>
  </div>

  <button class="search" (click)="toggleCard()">
    <img src="assets/images/searchImg.png" alt="search" />
  </button>

  <div class="searchCard" *ngIf="isCardOpen">
    <div class="inputBar">
      <img src="assets/images/searchImg.png" alt="" />
      <input
        type="text"
        placeholder="請輸入關鍵字"
        name="inputText"
        [(ngModel)]="value"
      />
    </div>

    <div class="cityAndSearch">
      <div class="selectCity">
        <button class="ulControl" (click)="toggleCity()">
          <h1>{{ currentCity }}</h1>
          <img *ngIf="!isCityOpen" src="assets/images/open.png" alt="open" />
          <img *ngIf="isCityOpen" src="assets/images/close.png" alt="close" />
        </button>

        <div class="area" *ngIf="isCityOpen" (click)="selectedCity($event)">
          <ul>
            <li *ngFor="let item of cityName">{{ item.zh }}</li>
          </ul>
        </div>
      </div>

      <button class="searchData" (click)="send()">搜尋</button>
    </div>
  </div>
</div>
