<div class="container">
  <div class="detail" [ngClass]="{ closedetail: isdetailClose }">
    <app-search-card></app-search-card>
    <hr />
    <!-- 車道 -->
    <div class="advancedSearch" *ngIf="step == 1 && currentRouter == 'route'">
      <div class="titlebtn" (click)="toggleAdvance()">
        <h1>
          <span>進階篩選</span>
        </h1>
        <button class="isOpen">
          <img
            *ngIf="!advance.isAdOpen"
            src="assets/images/open.png"
            alt="open"
          />
          <img
            *ngIf="advance.isAdOpen"
            src="assets/images/close.png"
            alt="close"
          />
        </button>
      </div>
      <div class="adselects" *ngIf="advance.isAdOpen == true">
        <div class="adselect">
          <button class="ulControl" (click)="toggleSelect('dis')">
            <h1>{{ disType }}</h1>
            <img *ngIf="!advance.dis" src="assets/images/open.png" alt="open" />
            <img
              *ngIf="advance.dis"
              src="assets/images/close.png"
              alt="close"
            />
          </button>
          <div class="adOption" *ngIf="advance.dis == true">
            <ul (click)="setForm($event, 'dis')">
              <li>遠</li>
              <li>中</li>
              <li>近</li>
            </ul>
          </div>
        </div>
        <div class="adselect">
          <button class="ulControl" (click)="toggleSelect('dir')">
            <h1>{{ dirType }}</h1>
            <img *ngIf="!advance.dir" src="assets/images/open.png" alt="open" />
            <img
              *ngIf="advance.dir"
              src="assets/images/close.png"
              alt="close"
            />
          </button>
          <div class="adOption" *ngIf="advance.dir == true">
            <ul (click)="setForm($event, 'dir')">
              <li>雙向</li>
              <li>單向</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="goback"
      *ngIf="
        (step == 2 && currentRouter == 'route') ||
        (step == 3 && currentRouter == 'route')
      "
    >
      <div class="backbtn" (click)="setStep('prev')">
        <button class="isOpen">
          <img src="assets/images/goback.png" alt="goback" />
        </button>
        <h1>
          <span>返回</span>
        </h1>
      </div>
    </div>
    <hr class="secondhr" *ngIf="currentRouter == 'route' && step == 1" />
    <div
      class="cards"
      *ngIf="step == 1 && currentRouter == 'route' && currentlinedata != ''"
    >
      <app-route-card
        *ngFor="let item of currentlinedata; let i = index"
        [ngClass]="{
          close:
            lineCardClose(item) ||
            !(i >= (currentPage - 1) * 5 && i < currentPage * 5)
        }"
        (Clicked)="lineClicked(i)"
        (triggerNext)="cardTrigger(i, 'selectCard')"
        [data]="item"
        [index]="i"
        [isActive]="currentlineActive == i"
      ></app-route-card>
    </div>
    <div
      class="cards"
      *ngIf="step == 2 && currentRouter == 'route' && currentlinedata != ''"
    >
      <app-view-food-card
        *ngFor="let item of onelinefav.food; let i = index"
        (triggerNext)="cardTrigger(i, 'food')"
        [data]="item"
        [type]="'food'"
        [index]="i"
      ></app-view-food-card>
      <app-view-food-card
        *ngFor="let item of onelinefav.view; let i = index"
        (triggerNext)="cardTrigger(i, 'view')"
        [data]="item"
        [type]="'view'"
        [index]="i"
      ></app-view-food-card>
    </div>
    <div class="cards" *ngIf="step == 3 && currentRouter == 'route'">
      <app-view-food-detail
        [data]="favdetail.data"
        [type]="favdetail.type"
      ></app-view-food-detail>
    </div>

    <!-- 單車 -->
    <div
      class="cards"
      *ngIf="currentRouter == 'bike' && currentbikeState != ''"
    >
      <app-bike-card
        *ngFor="let item of currentbikeState; let i = index"
        [ngClass]="{
          close: !(i >= (currentPage - 1) * 5 && i < currentPage * 5)
        }"
        [data]="item"
        [index]="i"
        (Clicked)="bikeClicked(i)"
        [isActive]="currentbikeActive == i"
      ></app-bike-card>
    </div>
    <div
      class="pageBar"
      *ngIf="currentbikeState != '' || currentlinedata != ''"
    >
      <button (click)="setPage('-')">
        <img src="assets/images/prev.png" alt="prevbtn" />
      </button>
      <div>
        {{ currentPage }} <span>/ {{ maxPage }}</span>
      </div>
      <button (click)="setPage('+')">
        <img src="assets/images/next.png" alt="nextbtn" />
      </button>

      <button class="openMap" (click)="toggledetail()">顯示地圖</button>
    </div>
  </div>

  <div
    class="block"
    *ngIf="isdetailClose && (currentbikeState != '' || currentlinedata != '')"
  >
    <button class="openMap" (click)="toggledetail()">顯示列表</button>
  </div>

  <app-map></app-map>
</div>
