::-webkit-scrollbar {
  width: 2px;
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

.searchCard {
  position: relative;
  margin: 24px;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.25);
  border-radius: 8px;
  border-top: 24px solid #0e5978;
  padding: 0 16px;
  padding-bottom: 20px;
  transition: 0.2s;
  z-index: 1000;

  &.close {
    padding-bottom: 0;
    transition: 0.2s;
  }

  &.close .inputBar,
  &.close .cityAndSearch {
    display: none;
  }
  .title {
    display: flex;
    height: 40px;
    margin: 1rem 0;
    h1 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
      color: #0a4259;
    }
    button {
      color: #0a4259;
      border: none;
      width: 40px;
      height: 40px;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 16px;
        height: 10px;
      }
    }
  }
  .inputBar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 8px 4px 8px 8px;
    border: 1px solid #0e5978;
    border-radius: 4px;
    margin-bottom: 0.75rem;
    img {
      width: 20px;
      height: 20px;
      border-right: 1px solid #e5e5e5;
      padding-right: 6px;
      vertical-align: middle;
      transition: 0.3s;
    }
    input {
      flex: 1;
      appearance: none;
      border: none;
      color: #a5a5a5;
      font-size: 1rem;
      font-weight: 400;
      margin-left: 1%;
      outline: none;
      &:focus {
        color: #0e5978;
      }
    }
  }
  .cityAndSearch {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    .selectCity {
      width: 45%;
      box-sizing: border-box;
      position: relative;

      button {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #0e5978;
        border-radius: 4px;
        background-color: #fff;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #f0f9fc;
        }
        h1 {
          flex: 1;
          margin: 0;
          font-size: 1rem;
          color: #0e5978;
        }
      }
      .area {
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        background-color: #fff;
        margin-top: 5%;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: 0.1s;
        cursor: pointer;

        &.show {
          height: 30vh;
          border: 2px solid #0e5978;
        }
        &.nshow {
          height: 0;
        }

        h1 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          margin: 0;
          width: 100%;
          padding: 0.5rem 1rem;
          color: #0e5978;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            width: 100%;
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            color: #0a4259;
            font-weight: 600;
            font-size: 1rem;
            line-height: 150%;
            text-align: center;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background: #0a4259;
              color: white;
            }
          }
        }
      }
    }

    .searchData {
      box-sizing: border-box;
      width: 45%;
      background: #0e5978;
      border-radius: 4px;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        background: #168bba;
      }

      &:active {
        background: #062e3d;
      }
    }
  }
}
